body {
    min-width: 375px;
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 100px;
    color: white;
    background-color: #00012c;
}

#header h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
}

#location {
    padding: 0px;
}

#caveImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}

#textAndChoices {
    position: relative;
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    height: 30%;
    top: 40%;

}

#text {
    width: 100%;
    height: 100%;
}

#text p {
    display: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e0e0d2;
}

#continue {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #00012c;
    color: white;
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    #text {
        height: fit-content;
    }
}