/* body {
    width: 100%;
    height: 100%;
    min-width: 375px;
    overflow: hidden;
}

#header {
    width: 100%;
    height: 200px;
}

#header img {
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
    min-width: 375px;
}

#header h1 {
    text-align: right;
    margin-right: 5%;
    font-family: cheboygan, sans-serif;
    font-size: 45px;
    color: red;
    background: -webkit-linear-gradient(#261B04, #D83F03, #7D2800, #524E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 30px;
}

#location {
    padding: 0px;
    color: red;
    background: -webkit-linear-gradient(#261B04, #D83F03, #7D2800, #524E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menuDiv {
    width: 150px;
}

#menu, #menu ul {
    position: absolute;
    background-color: black;
    display: none;
}

#menu ul li {
    opacity: 1;
}

#menu div, #menu ul div{
    padding: 0px;
}

#menu div:hover {
    background-color: #0084ff;
    border: 1px solid white;
}

#menu ul:hover {
    cursor: default;
}

#menu div p {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 20px;
    font-family: cheboygan, sans-serif;
    color: red;
    background-image: -webkit-linear-gradient(#261B04, #D83F03, #7D2800, #524E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#showmenu {
    position: fixed;
    width: 100px;
    height: 50px;
    background-color: black;
    border: 0px solid black;
    
}

#showmenu p {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cheboygan, sans-serif;
    color: red;
    background-image: -webkit-linear-gradient(#261B04, #D83F03, #7D2800, #524E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #696969;
    border-radius: 5px;
}

#locationButtons button {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
}

#locationButtons button p {
    font-family: cheboygan, sans-serif;
    color: red;
    background-image: -webkit-linear-gradient(#261B04, #D83F03, #7D2800, #524E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #696969;
    border-radius: 5px;
}

#caveImage {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: -2;
    min-width: 850px;
}

#textAndChoices {
    position: relative;
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    height: fit-content;
    top: 20%;
}

#text {
    width: 100%;
    height: 100%;
}

#text p {
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffe4c4;
}

#continue {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    margin-top: 10px;
}

#continue p {
    font-size: 20px;
    font-family: cheboygan, sans-serif;
    color: red;
    background-image: -webkit-linear-gradient(#261B04, #D83F03, #7D2800, #524E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#option1, #option2 {
    display: none;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    margin-top: 10px;
}

#option1 p, #option2 p{
    font-size: 20px;
    font-family: cheboygan, sans-serif;
    color: red;
    background-image: -webkit-linear-gradient(#261B04, #D83F03, #7D2800, #524E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Preloading Index page styling */
h1 {
    color: #EEEEEE;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite; 

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; 
        animation: spin 3s linear infinite;
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    /* copyright content */
    #copyright-info {
        text-align: center;
        font-size: 25px;
		margin: 0 auto 50px auto;
		width: 80%;
        max-width: 978px;
		position: relative;
		z-index: 10001;
        color: #EEEEEE;
    }

    #copyrightBtn {
        margin-top: 35px;
        padding: 10px;
        font-size: 18px;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

@media screen and (max-width: 780px) {
    #header h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 700px) {
    #text {
        height: fit-content;
    }
}

@media screen and (max-width: 500px) {
    #header h1 {
        font-size: 25px;
    }
} */


#mainHeaderImage {
    text-align: center;
    margin-right: 10px;
    background-image: url(../images/mainHeader.jpg);
    width: 100%;
    background-size:cover;
    height:275px;
   
 
 } 
 
  #mainTitle {
    font-size: 70px;
    font-family: 'Cheboygan', sans-serif;
    background: -webkit-linear-gradient(#261b04, #d83f03, #7d2800, #524e4e, #090101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    float: right; 
    margin: 7% 10% 0% 0%;
   
    z-index: 1;
    position:relative;
 }

 #mainSubHeading {
    font-size:24px;
    background: -webkit-linear-gradient(#261b04, #d83f03, #7d2800, #524e4e, #090101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    float: right; 
    margin: 4% -16% 0% 0%;
 }


.menu-text{
    font-family: 'Cheboygan', sans-serif;
    background: -webkit-linear-gradient(#261b04, #d83f03, #7d2800, #524e4e, #090101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;                                          
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: -2;
    min-width: 850px;
}

.title {
    font-family: 'Cheboygan', sans-serif;
    background: -webkit-linear-gradient(#261b04, #d83f03, #7d2800, #524e4e, #090101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.subtitle {
    font-family: 'Cheboygan', sans-serif;
    background: -webkit-linear-gradient(#261b04, #d83f03, #7d2800, #524e4e, #090101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#header {
    height: 20%;
}

button {
    font-family: 'Cheboygan', sans-serif;
    background: -webkit-linear-gradient(#261b04, #d83f03, #7d2800, #524e4e, #090101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.card {
    width: 50%;
    margin: 50px;
    background-color: bisque;
}

.storycard {
    width: 70%;
    font-size: 20px
}

/*  center all content within main */
.center-everything {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* media queries */
@media screen and (max-width: 1264px){
    #mainTitle {
        font-size: 60px;
    }
}

@media screen and (max-width: 725px) {
    #mainTitle {
        font-size: 28px;
    }

    #mainHeaderImage {
    height:125px;
    width:100%;
    }
}

@media screen and (max-width: 985px){
    #mainTitle {
        font-size: 46px;
        margin: 8% 15% 0% 0%;
    }
}

@media screen and (max-width: 768px) {
    #mainTitle {
        font-size: 24px;
        margin: 8% 7% 10% 10%;
    }
    #mainHeaderImage {
        height:125px;
        width:100%;
    }
    #mainSubHeading{
        display: none;
    }
    .tile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 563px){
    
    #mainTitle {
        font-size: 22px;
        margin: 8% 7% 10% 0%;
    }
    .choiceBoxContainer{
        display:flex;
        flex-direction: column;
        width:80%;
    }
    .choiceBox{
        font-size:16px;
        display:flex;
        flex-direction: column;
        width: 95%;
        height: auto;
        margin-bottom: 10px;
        margin-top:10px;
    }
    .button {
        margin-top:-20px;
    }
    .tile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}